<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../../../partials/linksBootstrap.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <title>Artigos</title>
</head>

<body style="background-color: #d3d3d3;">
  <%- include('../../../partials/navbar.ejs') %>
  <div class="container">
    <br>
    <h2 style="border-left: .5rem solid #e6a800;"><b style="margin-left: .5rem;"> Artigos</b></h2>
    <br>
      <div class="card text-bg-dark">
        <div class="card-header">Menu > Artigo</div>
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <h6 >Categoria: <%- article.category.title %></h6>
            <p><%- article.body %> </p>
            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group" role="group" aria-label="Small button group">
              <a href="/articles/admin" class="btn btn-outline-light">Editar</a>
            </div>
          </div>
        </div>
        <br>
      </div>
  </div>

  <%- include('../../../partials/scriptsBootstrap.ejs') %>
</body>

</html>