<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/linksBootstrap.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/home-module.css">
  <title>GuiaPress | Home</title>
</head>

<body style="background-color: #d3d3d3;">
  <%- include('../partials/navbarHome.ejs') %><br>

  <div class="container">
    <div class="card text-bg-dark">
      <img src="/assets/image2.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Rubens Lima</h5>
        <p class="card-text">Bem vindo ao GuiaPress.</p>
      </div>
    </div><br><br>

    <h2 style="border-left: .5rem solid #e6a800;"><b style="margin-left: .5rem;">Lista de Artigos</b></h2>
    <% articles.forEach((article) => { %>
    <div class="card text-bg-dark">
      <div class="card-header">Artigo</div>
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <!-- <p><%- article.body %> </p> -->
        <br>
        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group" role="group"
          aria-label="Small button group">
          <a href="/<%= article.slug %> " class="btn btn-outline-light">Ler</a>
          <a href="/articles/admin/edit/<%= article.id %>" class="btn btn-outline-light">Editar</a>
          <a href="/articles/admin" class="btn btn-outline-light">Deletar</a>
        </div>
      </div>
    </div>
    <br>
    <% }); %>
    <br><br>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a class="page-link navegate" href="#">Home</a>
        </li>
        <li class="page-item">
          <a class="page-link navegate" href="/articles/page/1">Próximo</a>
        </li>
      </ul>
    </nav>
  </div>
  <br><br>
  <%- include('../partials/scriptsBootstrap.ejs') %>
</body>

</html>